extends layout

block layout-content
  .container-fluid.View.WelcomeView.nopadding
    .container-fluid.nopadding
      .row.justify-content-center.text-center
        .h1.m-1.p-1(style="font-weight:bold; color:#4743b1; font-family:auto;") News Briefs
    .container-fluid.nopadding
      .row.justify-content-center.p-4(style="background-color:#41464b;")
        .h1(style="position: absolute; top: 0; margin-top: 0.25rem; padding-top: 0.25rem;") 📰
    .container-fluid.nopadding
      .row.justify-content-center.border-top.border-bottom.p-2.mt-3
        .col.col-md-6
          .h1(style="font-weight:bold; margin-left:15px; color:#41464b; font-family:auto;") News
      .row.justify-content-center
        .col.col-md-6
          .news-articles

        
  link(rel='stylesheet', href='/stylesheets/index.css', type='text/css')
  script(src="/javascripts/index.js")