.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.View.WelcomeView{
  background-color: white;
}

/* @media only screen and (min-width: 768px) {
  .item {
      margin-left: 0;
      margin-right: 0;
  }
} */
.item {
  clear: both;
  margin: 15px;
  padding: 15px;
  /* border: 1px solid #e0e0e0; */
  background: #fff;
  border: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}
.item .item-info>:last-child {
  margin-bottom: 0;
}


/* @media only screen and (min-width: 768px)
.item.has-image .item-info {
    float: left;
    width: 58.333%;
    padding-right: 15px;
} */
.item .item-info {
  margin-bottom: 15px;
}


.slug {
  /**font-size: 14px;*/
  font-size: 1.4rem;
  color: #767676;
  font-family: "Knockout 31 4r",HelveticaNeue-CondensedBold,Helvetica,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  clear: left;
  margin-bottom: 8px;
}


.item .title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.1;
}


.item .teaser {
  font-size: 13px;
  font-size: 1.3rem;
  color: #333;
  line-height: 1.5;
  font-family: "Gotham SSm",Helvetica,Arial,sans-serif;
  font-weight: 400;
}